/* Display utilities for JavaScript interactions */
.hide {
  display: none;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

.show-inline {
  display: inline;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* Screen reader only - visually hidden but accessible */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
