/* section */
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-700);
  padding: 1.5rem;
}

/* avatar */
.testimonials-avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 326.5px;
  height: 307.5px;
  background-image: url('../../images/pattern-bg.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.avatar {
  width: 254px;
  height: auto;
}

.arrows {
  position: absolute;
  bottom: 0.3125rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  padding: var(--spacing-0) var(--spacing-200);
  gap: var(--spacing-400);
  border-radius: 1.75rem;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
}

.arrow-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn:disabled {
  cursor: not-allowed;
}

.arrow-btn:disabled .arrow path {
  stroke: var(--color-gray-400);
}

/* testimonials */
.testimonials-text-container {
  width: 19.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
  position: relative;
}

.pattern-quotes {
  position: absolute;
  width: 60px;
  height: 50px;
  top: -1.5625rem;
}

.user-info {
  display: flex;
  flex-direction: column;
}

/* TABLET (768px and up) */
@media (min-width: 48em) {
  .testimonials {
    gap: 8.75rem;
  }

  .testimonials-avatar-container {
    width: 520px;
    height: 489.74px;
  }

  .avatar {
    width: 404.533px;
    height: 402.94px;
  }

  .arrows {
    bottom: 0.9375rem;
    display: flex;
    width: 7rem;
    height: 3.5rem;
    padding: var(--spacing-0) var(--spacing-300);
    align-items: center;
    gap: var(--spacing-600);
  }

  .testimonials-text-container {
    width: 39.6875rem;
    gap: var(--spacing-400);
  }

  .pattern-quotes {
    width: 120px;
    height: 100px;
    top: -4.6875rem;
  }

  .user-info {
    flex-direction: row;
    gap: var(--spacing-100);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 90em) {
  .testimonials {
    flex-direction: row-reverse;
    width: 75rem;
    min-height: 100vh;
    gap: 0;
    padding: 0;
  }

  .testimonials-text-container {
    align-items: start;
    z-index: 2;
    transform: translateX(8.125rem);
  }

  .pattern-quotes {
    top: -4.6875rem;
    left: 6rem;
  }

  .quotes {
    width: 35rem;
  }

  .testimonials-avatar-container {
    min-width: 700px;
    height: 660px;
    background-size: cover;
    overflow: visible;
  }

  .avatar {
    width: 540px;
    height: 540px;
  }

  .arrows {
    left: 7.9375rem;
    bottom: 1.625rem;
  }
}
