/* COLORS */
:root {
  /* black & white */
  --color-black: #000000;
  --color-white: #ffffff;
  /* gray */
  --color-gray-400: #b9b9ce;
  --color-gray-100: #ebebeb;
  --color-gray-50: #f4f4fc;
  /* purple */
  --color-blue-500: #cf6bcb;
  /* pink */
  --color-pink-500: #d3629d;
  /* blue */
  --color-blue-950: #202047;
  /* gradient from #9975d0 to #4a3fdb */
  --color-gradient: linear-gradient(to right, #9975d0, #4a3fdb);
}

/* SPACING */
:root {
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1100: 88px;
  --spacing-1200: 96px;
  --spacing-1300: 104px;
}
