:root {
  /* COLORS */
  /* black & white */
  --color-black: #000000;
  --color-white: #ffffff;
  /* gray */
  --color-gray-400: #b9b9ce;
  --color-gray-100: #ebebeb;
  --color-gray-50: #f4f4fc;
  /* purple */
  --color-blue-500: #cf6bcb;
  /* pink */
  --color-pink-500: #d3629d;
  /* blue */
  --color-blue-950: #202047;
  /* gradient from #9975d0 to #4a3fdb */
  --color-gradient: linear-gradient(to right, #9975d0, #4a3fdb);

  /* BOX SHADOW */
  --box-shadow: 0 15px 20px -10px rgba(36, 36, 113, 0.1);

  /* SPACING */
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
  --spacing-1100: 5.5rem;
  --spacing-1200: 6rem;
  --spacing-1300: 6.5rem;
}
